.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.inputComponent > input {
  width: 70%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.2rem;
  color: #727272;
  margin-top: 0px;
}

.inputComponent > input:focus {
  outline: none;
}

.inputComponent > button {
  height: 45px;
  border: none;
  font-size: 25px;
  background: #101113;
  border-radius: 5px;
  color: #cdcdcd;
  cursor: pointer;
}

.inputComponent > button:hover {
  background: #2e3032;
}

.inputComponent > button:focus {
  outline: none;
}

.inputComponent ul {
  list-style: none;
  text-align: left;
  padding: 15px;
  background: #171a1f;
  border-radius: 5px;
}

.inputComponent li {
  padding: 15px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  background: #282c34;
  border-radius: 5px;
  overflow-wrap: break-word;
  cursor: pointer;
}

.widgetConfigPage {
  background-color: #F5F5F5;
  width:30%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
}


.widgetView {
  border: none;
  width:70%;
  height:100%;
  position: fixed;
  top: 0;
  right: 0;
}